@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --color--main: #ffa979;
  --color-select: #f88d40;
  --color-extra: #ffd952;
  --color-main-pink: #ff7979;
}

.formJoin > input::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
}
.formJoin > input:-moz-placeholder {
  color: white;
  opacity: 0.7;
}

body {
  font-family: "Open Sans";
  font-style: normal;
  color: #000000;
  background-color: #ffe4b9;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 30px;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: var(--color--main);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 34px;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: var(--color-select);
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: var(--color--main);
  text-decoration: none;
}

.form .message a:hover {
  color: var(--color-select);
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #ef3b3a;
}

.formName{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}

.formHead{
    margin-bottom: 23px;
}
